*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid{}

body{font-family: "RobotoRegular", sans-serif; font-size: 16px; line-height: 1;}

a{
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.input-wrap{position: relative;}

.null{padding-left: 0; padding-right: 0;}
.null-left{padding-left: 0;}
.null-right{padding-right: 0;}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#success{display: none;}
#success h4 {
	font-size: 20px;
	text-align: center;
	padding: 10px 15px;
}
/* -----------------my--------------------------- */


.block {
	margin-bottom: 100px;
}

img[alt*="borisov"] { 
	margin-left: 300px;
}

img[alt*="transportation"] { 
	margin-left: 310px;
}

img[alt*="freedom"] { 
	margin-left: 280px;
}

img[alt*="windows"] { 
	margin-left: 280px;
}

img[alt*="react2"] { 
	margin-left: 270px;
}

img[alt*="thunk"] { 
	margin-left: 380px;
}

img[alt*="redux"] { 
	height: 300px;
	margin-left: 340px;
}

.item {
	height: 500px;
}

.center-img {
	width: 300px;
	display: block;
	margin: 0 auto;
  }


.carousel-indicators li {
	border: 1px solid  silver !important;
	border-radius: 0px !important;
	background-color: #efefef !important;
  }


h1, h2 {
	text-align: center;
}

