*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid{}

body{font-family: "RobotoRegular", sans-serif; font-size: 16px; line-height: 1;}

a{
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.input-wrap{position: relative;}

.null{padding-left: 0; padding-right: 0;}
.null-left{padding-left: 0;}
.null-right{padding-right: 0;}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#success{display: none;}
#success h4 {
	font-size: 20px;
	text-align: center;
	padding: 10px 15px;
}
/* -----------------my--------------------------- */

.battery {
	width: 300px;
	height: 100px;
	position: relative;
	border: 5px solid #333;
	margin: 25px;
	border-radius: 5px;
}

.battery:after {
	content: "";
	display: block;
	width: 10px;
	height: 50px;
	background: #333;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -25px;
	border-radius: 0 5px 5px 0;
}

.battery .number {
	font-size: 45px;
	line-height: 90px;
	text-align: center;

}

.battery .inner {
	width: 0%;
	background: #f00;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	
}

.warning {
	margin: -15px 25px 15px;
	font-size: 24px;
	color: #d84040;
	width: 300px;
	text-align: center;
}

#count {
	display: block;
	width: 300px;
	height: 30px;
	margin: 0 25px;
	font-size: 18px;
	color: #333;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 5px 0 10px;
	outline: none;
}
